@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<section class="section-title img-feature">
    <div class="overlay-bg"></div>
    <div class="container">
        <h1>About Us </h1>
    </div>
</section>
<!-- End Section Title -->
<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="crumbs">
        <div class="container">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
               
                <li>/</li>
                <li>About Us</li>
            </ul>
        </div>
    </div>

    <div class="semiboxshadow text-center">
        <img src="~/img/img-theme/shp.png" class="img-responsive" alt="">
    </div>

    <!-- Content Central -->
    <div class="container padding-top">
        <div class="row">

            <div class="col-md-8">
                <!-- Widget Text-->
                <div class="panel-box">
                    <div class="titles">
                        <h4>Living Waters Seminary</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p align="justify">
                                To be at the forefront of learning innovation and outstanding achievement and to maintain our position within Zimbabwe
                                as a key valued entity committed to excellence by offering leadership training that meets squarely,
                                the challenges confronting the developing world and beyond, developing an ethos of partnership with the Seminary’s Stakeholders,
                                both at home and abroad, to evolve into  Living Waters University and thus effectively add value to corporate governance
                                and leadership both at micro and macro levels.
                            </p>
                               <h1><strong>VALUES</strong><br></h1>
                              
                            <ol>
                                <ul>
                                    <li class="style1"> Excellence</li>
                                    <li class="style1">Transparency</li>
                                    <li class="style1"> Equal Opportunities</li>
                                    <li class="style1">Diligence</li>
                                    <li class="style1">Integrity</li>
                                    <li class="style1">Team Work</li>
                                    <li class="style1">Divine Guidance</li>
                                </ul>
                        </div>
                    </div>
                </div>
                <!-- End Widget Text-->
            </div>

            <!-- Sidebars -->
            <aside class="col-md-4">

                <aside>
                    <h4>Searh Sidebar</h4>
                    <form class="search" action="#" method="Post">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search..." name="email" type="email" required="required">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                            </span>
                        </div>
                    </form>
                </aside>

                <!-- Widget Categories-->
                <div class="panel-box">
                    <div class="titles">
                        <h4><strong>EFM  radio stations frequencies</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list">
                                <li><i class="fa fa-check"></i><a href="#">- 90.1MHz- Kavango Region</a></li>
                                <li><i class="fa fa-check"></i><a href="#">- 93.1 MHz - Otjozondjupa Region</a></li>
                                <li><i class="fa fa-check"></i><a href="#">- 90.1 MHz - Erongo Region</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Widget Categories-->
                <!-- Widget Text-->
                <div class="panel-box">
                    <div class="titles">
                        <h4>Widget Text</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                </div>
                <!-- End Widget Text-->
            </aside>
            <!-- End Sidebars -->

        </div>
    </div>
    <!-- End Content Central -->
    <!-- Sponsors -->
    <div class="section-wide">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>We have earned the trust of <span class="text-resalt">25,869</span> partners.</h2>
                        <p>Duis non lorem porta,  eros sit amet, tempor sem. semper a tempus et.</p>
                    </div>
                    <ul id="sponsors" class="tooltip-hover">
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/1.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/2.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/3.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/4.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/5.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/3.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/4.png" alt="Image"></a></li>
                        <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="~/img/sponsors/3.png" alt="Image"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sponsors -->
</section>
<!-- End Section Area - Content Central -->
