
@{
    ViewBag.Title = "Administration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Section Title -->
<section class="section-title img-about">
    <div class="overlay-bg"></div>
    <div class="container">
        <h1>Administration Panel</h1>
    </div>
</section>
<!-- End Section Title -->
<!-- Section Area - Content Central -->
<section class="content-info">

    <div class="crumbs">
        <div class="container">
            <ul>
                <li>@Html.ActionLink("Home","Index","Home")</li>
                <li>/</li>
                <li>Administration</li>
            </ul>
        </div>
    </div>

    <div class="semiboxshadow text-center">
        <img src="~/img/img-theme/shp.png" class="img-responsive" alt="">
    </div>

    <!-- Content Central -->
    <div class="container padding-top">
        <div class="row">

            <!-- content Players -->
            <div class="col-md-12">
                <!-- Panel Box -->
                <div class="panel-box">
                    <div class="titles">
                        <h4><i class="fa fa-group"></i>Profiles</h4>
                    </div>
                    <!-- Players -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Item Players-->
                            <ul id="players-carousel" class="players">
                                <!-- Item Player -->
                                <li class="item-player">
                                    <img src="~/img/djs/lischen.jpg" alt="" class="img-responsive">
                                    <div class="info-player">
                                        <h4><a href="#">Dj Lucious Lischen </a></h4>

                                        <div class="overlay-player">
                                            <p>Lischen Khachas AKA Dj lucious Lischen does the Morning on Equity Breakfast where she and her Co-pilot Taeni wake you up with a bang from 6 to 9am.With the freshest news,info,weather and so much more just to make sure that by the time you are at work you already know whats happening in the world.</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Player post -->
                                <!-- Item Player -->
                                <li class="item-player">
                                    <img src="~/img/djs/taeni.jpg" alt="" class="img-responsive">
                                    <div class="info-player">
                                        <h4><a href="#">DJ Taeni </a></h4>

                                        <div class="overlay-player">
                                            <p>I am a young energetic, motivated, creative ambitious person who has developed a mature and responsible approach to any task that I undertake, or situation that I am presented with.</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Player post -->
                                <!-- Item Player -->
                                <li class="item-player">
                                    <img src="~/img/djs/blizz.jpg" alt="" class="img-responsive">
                                    <div class="info-player">
                                        <h4><a href="#">DJ Blizz </a></h4>

                                        <div class="overlay-player">
                                            <p>In full I am an epic and young man with a tender sweet loving heart, very energetic and active, i am a film director, producer and editor as well as a radio and TV presenter. </p>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Player post -->
                                <!-- Item Player -->
                                <li class="item-player">
                                    <img src="~/img/djs/vacant.jpg" alt="" class="img-responsive">
                                    <div class="info-player">
                                        <h4><a href="#">Vacant</a></h4>

                                        <div class="overlay-player">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodn culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Player post -->
                            </ul>
                            <!-- End Item Players-->
                        </div>
                    </div>
                    <!-- End Players -->
                </div>
                <!-- End Panel Box -->
            </div>
            <!-- End Players -->

            <div class="col-md-6">
                <!-- Info -->
                <div class="panel-box">
                    <div class="titles">
                        <h4><i class="fa fa-cogs"></i>Listen Online</h4>
                    </div>
                    <!-- Skins -->
                    <div class="row">

                        <div class="pro_bar">
                            <center>
                                <a href="#"><img src="~/img/radio-on-line-1.gif" alt="" width="508" height="272" border="0" class="img-responsive"></a>
                        </div>
                    </div>
                    <!-- End Skins -->
                </div>
                <!-- End Info-->
            </div>

            <!-- Accordion -->
            <div class="col-md-6">
                <!-- Info -->
                <div class="panel-box">
                    <div class="titles">
                        <h4><i class="fa fa-coffee"></i>Whats on offer</h4>
                    </div>
                    <!-- Skins -->
                    <div class="row">
                        <div class="accrodation">
                            <!-- section 1 -->
                            <span class="acc-trigger"><a href="#">Programmes</a></span>
                            <div class="acc-container" style="display: none;">
                                <div class="content">
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                </div>
                            </div>

                            <!-- section 2 -->
                            <span class="acc-trigger"><a href="#">Daily Schedule</a></span>
                            <div class="acc-container" style="display: none;">
                                <div class="content">


                                    <b>Weekdays</b><br>

                                   


                                </div>
                            </div>

                            <!-- section 3 -->
                            <span class="acc-trigger"><a href="#">What we offer?</a></span>
                            <div class="acc-container" style="display: none;">
                                <div class="content">
                                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- End Skins -->
                </div>
                <!-- End Info-->
            </div>
            <!-- End Accordion -->
            <!-- About Template-->
            <div class="col-md-12">
                <!-- Info -->
                <div class="panel-box">
                    <div class="titles">
                        <h4><i class="fa fa-rocket"></i>About E-FM Otjiwarongo</h4>
                    </div>
                    <!-- Info ABout -->
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Mini SLide -->
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="~/img/radio-broadcasting-old_600x315.jpg" width="600" height="315">
                                    </div>


                                </div>
                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">

                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">

                                </a>
                            </div>
                            <!-- End Mini SLide -->
                        </div>
                        <div class="col-md-8">
                            <h4>Diversifying infotainment</h4>
                            <p align="justify">
                                Equity FM is the first commercial radio station being established in Otjozondjupa region with objectives 
                                not limited to the advancement of effective societal communication, to inspire, inform, educate, 
                                entertain and advocate for the skills development and all matters related to social welfare.
                            </p>

                            <p align="justify">
                                Equity FM targets a wide variety of audiences irrespective of their race, tribe, age group and gender. 
                                Equity FM is currently covering the Otjozondjupa region reaching 142 400 people and have definite 
                                plans to expand to other regions soon. Equity FM broadcasts in five different local languages namely 
                                Afrikaans, DamaraNama, German, Oshiwambo, and Otjiherero, with English being the dominant, in 
                                order to reach a large amount of audience. Equity FM boasts of thousands of Facebook and Tweeter 
                                followers and these numbers are increasing on a daily basis.
                            </p>
                        </div>
                    </div>
                    <!-- End Info ABout -->
                </div>
                <!-- End Info-->
            </div>
            <!-- End About Template-->

        </div>
    </div>
    <!-- End Content Central -->


</section>

